<div class="jumbotron">
  <h1>Welcome to BirdSign!</h1>
    <li><%= link_to 'Home', root_path %></li>
    <% if current_user %>
      <li>Signed in as <%= current_user.name %></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
    <% else %>
      <li><%=link_to "Sign in with Twitter", "/auth/twitter" %></li>
    <% end %>
</div>
